<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list h-card">
          <li>
            <img class="u-photo" src="{{ site.baseurl }}/images/profile.jpg" alt="Eddie Hinkle" style="display: none;" />
            <a rel="me" class="u-url p-name" href="http://eddiehinkle.com/">Eddie Hinkle</a>
            <p class="p-note">Believer, Husband, Software Engineer, Pastor. <a href="http://eddiehinkle.com/about">Read More</a></p>
          </li>
        </ul>
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.instagram_username %}
          <li>
            {% include icon-instagram.html username=site.instagram_username %}
          </li>
          {% endif %}

          {% if site.facebook_username %}
          <li>
            {% include icon-facebook.html username=site.facebook_username %}
          </li>
          {% endif %}

          {% if site.email %}
          <li>
            {% include icon-email.html email=site.email %}
          </li>
          {% endif %}
        </ul>
        <a href="https://apple.news/{{ site.applenews_id }}">
          <span class="icon-follow-news">{% include Follow_on_AppleNews_blk_badge_RGB.svg %}</span>
        </a>
      </div>

      <div class="footer-col footer-col-2"></div>

      <div class="footer-col footer-col-3">
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
        <form action="//eddiehinkle.us6.list-manage.com/subscribe/post?u=65755b30657b2b42c53262ffc&amp;id=e72ddda3e4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
          <label for="mce-EMAIL">Stay up to date</label>
          <p>Sign up to receive monthly or every other month updates on recent posts and other news from Eddie.</p>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_65755b30657b2b42c53262ffc_e72ddda3e4" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>

        <!--End mc_embed_signup-->
      </div>
    </div>

  </div>

</footer>
