{% if show.movie_name %}
    {% if show.status == 'finished' %}
        🎬 Watched
    {% endif %}
    {% if show.status == 'interested' %}
        🎬 💭 Looking forward to
    {% endif %}
    {% if show.movie_url %}
        <strong><a href="{{show.movie_url}}" target="_blank">{{show.movie_name}}</a></strong>
    {% else %}
        <strong>{{show.movie_name}}</strong>
    {% endif %}
{% endif %}
{% if show.show_name %}
    {% if show.status == 'finished' %}
        📺 Watched
    {% endif %}
    {% if show.status == 'interested' %}
        📺 💭 Looking forward to
    {% endif %}
    {% if show.show_url %}
        <strong><a href="{{show.show_url}}" target="_blank">{{show.show_name}}</a></strong>
    {% else %}
        <strong>{{show.show_name}}</strong>
    {% endif %}
    {% if show.show_premiere %}
        <strong>Series Premiere</strong>
    {% else %}
        {% if show.show_finale %}
            <strong>Series Finale</strong>
        {% else %}
            {% if show.show_season %}
                Season {{show.show_season}}
                    {% if show.season_finale %}
                        <strong>Finale</strong>
                    {% else %}
                        {% if show.show_episode %}
                        Episode {{show.show_episode}}
                        {% endif %}
                    {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}
{% if show.video_site_url or show.video_url %}
    {% if show.status == 'finished' %}
        📺 Watched
    {% endif %}
    {% if show.status == 'interested' %}
        📺 💭 Looking forward to
    {% endif %}
    {% if show.video_url %}
        <strong><a href="{{show.video_url}}" target="_blank">{{show.video_name}}</a></strong>
    {% else %}
        <strong>{{show.video_name}}</strong>
    {% endif %}
    on 
    {% if show.video_site_url %}
        <a href="{{show.video_site_url}}" target="_blank">{{show.site_name}}</a>
    {% else %}
        {{show.site_name}}
    {% endif %}
{% endif %}