{% if watch.movie_name %}
    {% if watch.status == 'finished' %}
        🎬 Watched
    {% endif %}
    {% if watch.status == 'interested' %}
        🎬 💭 Looking forward to
    {% endif %}
    {% if watch.movie_url %}
        <strong><a href="{{watch.movie_url}}" target="_blank">{{watch.movie_name}}</a></strong>
    {% else %}
        <strong>{{watch.movie_name}}</strong>
    {% endif %}
{% else %}
    {% if watch.show_name %}
        {% if watch.status == 'finished' %}
            📺 Watched
        {% endif %}
        {% if watch.status == 'interested' %}
            📺 💭 Looking forward to
        {% endif %}
        {% if watch.show_url %}
            <strong><a href="{{watch.show_url}}" target="_blank">{{watch.show_name}}</a></strong>
        {% else %}
            <strong>{{watch.show_name}}</strong>
        {% endif %}
        {% if watch.show_premiere %}
            <strong>Series Premiere</strong>
        {% else %}
            {% if watch.show_finale %}
                <strong>Series Finale</strong>
            {% else %}
                {% if watch.show_season %}
                    Season {{watch.show_season}}
                        {% if watch.season_finale %}
                            <strong>Finale</strong>
                        {% else %}
                            {% if watch.show_episode %}
                            Episode {{watch.show_episode}}
                            {% endif %}
                        {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% else %}
        {% if watch.url %}
            {% if watch.status == 'finished' %}
                📺 Watched
            {% endif %}
            {% if watch.status == 'interested' %}
                📺 💭 Looking forward to
            {% endif %}
            {% if watch.url %}
                <strong><a class="p-name u-url" href="{{watch.url}}" target="_blank">{{watch.name}}</a></strong>
            {% else %}
                <strong class="p-name">{{watch.video_name}}</strong>
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}