footer.page-footer
    .inner-footer
        div.mini-bio.h-card
            img(src="/images/profile.jpg", alt="Eddie Hinkle", style="display: none;").u-photo
            p.p-note
                a(rel="me", href="https://eddiehinkle.com/").u-url.p-name Eddie Hinkle
                |
                | is a husband to
                |
                a(href="https://ashleyhinkle.com", target="_blank") Ashley
                | , father to
                |
                a(href="https://luke.hinkle.life", target="_blank") Luke
                |
                | and
                |
                a(href="https://eddiehinkle.com/resume", target="_blank") UI Engineer
                |
                | that lives in Frederick, MD.
                |
                a(href="/about") Read More
        ul.social-media-list
            li
                a(href="https://github.com/edwardhinkle" rel="me").no-underline
                    i(class="fab fa-github fa-2x" aria-hidden="true")
            li
                a(href="https://twitter.com/eddiehinkle" rel="me").no-underline
                    i(class="fab fa-twitter fa-2x" aria-hidden="true")
            li
                a(href="https://instagram.com/eddiehinkle" rel="me").no-underline
                    i(class="fab fa-2x fa-instagram" aria-hidden="true")
            li
                a(class="microblog-icon" href="https://micro.blog/eddiehinkle" rel="me").no-underline
                    include ../resources/microblog-icon.svg
            //li
            //    a(href="https://apple.news/TlUsl76dFRNCfv54V0xuVJQ")
            //        span(class="icon-follow-news")
            //            img(src="/images/apple-news-icon.png")
        div.copyright &copy; 2007-2018 Eddie Hinkle.
canvas#confettiContainer
script
  include ../analytics.js
