---
layout: default
feed: true
---

<div class="home">
  {% assign todayYear = site.time | date: '%Y' %}
  {% assign todayMonth = site.time | date: '%m' %}
  {% assign todayDay = site.time | date: '%d' %}

  
  {% for post in site.note %}
    {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
    {% capture month %}{{post.date | date: "%m"}}{% endcapture %}
    {% capture day %}{{post.date | date: "%d"}}{% endcapture %}

    {% if todayMonth == month and todayDay == day and todayYear != year %}
    <div class="flashback-post basic-card">
      <h2>On This Day...</h2>
      {% include preview-types/preview.html %}
    </div>
    {% endif %}
  {% endfor %}

  {% assign photos = site.note | where_exp:"item","item.tags contains 'Project365'" | sort: 'date' | reverse %}
  {% for post in photos limit: 3 %}
    {% include preview-types/preview.html %}
  {% endfor %}

  <ul class="post-list">
    {% assign documents = site.documents | where_exp:"item", "item.featured == true" | sort: 'date' | reverse %}
    {% for post in documents %}
        {% include preview-types/preview.html %}
    {% endfor %}
  </ul>

</div>
