.DS_Store
/abodeConfig.json
/server-build
/old_node_modules
/node_modules
/media-server-storage
/jekyll/_build
/jekyll/.sass-cache
/jekyll/_source
/jekyll/_private_build
/.idea
/log-files
/_storage
*.pem
