<li class="type-watch">
    <span class="post-meta">
        <a class="u-url u-uid" href="{{ post.url | prepend: site.baseurl }}"><span class="date-container">{{ post.date | date: "%b %-d, %Y" }}</span></a>
        <span class="tag-container">
        {% for tag in post.tags %}
            <span class="post-tag">{{ tag }}</span>
        {% endfor %}
        </span>
    </span>
    {% capture wordCount %}{{ post.content | number_of_words }}{% endcapture %}
    <div class="basic-card words-{{wordCount}}">
        {% if post.show_name %}
            <img class="show-image" src="{{post.show_image}}">
        {% endif %}
        {% if post.movie_name %}
            <img class="show-image" src="{{post.movie_image}}">
        {% endif %}
        {% if post.video_site_url or post.video_url %}
            <img class="show-image" src="{{post.video_cover}}">
        {% endif %}
        <div class="watch-content">
            <div class="watch-info">
                {% assign show = post %}
                {% include watch-info.html %}
            </div>
            <div class="watch-status">
                {{post.excerpt}}
            </div>
        </div>
    </div>
</li>