{% if post.p-rsvp %} <!-- RSVP -->
    {% include preview-types/preview-rsvp.html %}
{% else %}
    {% if post.in-reply-to %} <!-- Reply -->
        {% include preview-types/preview-reply.html %}
    {% else %}
        {% if post.repost-of %} <!-- Repost -->
            {% include preview-types/preview-repost.html %}
        {% else %}
            {% if post.mf-u-like-of %} <!-- Like -->
                {% include preview-types/preview-like.html %}
            {% else %}
                {% if post.show_name or post.movie_name or post.video_url or post.video_site_url %} <!-- Watch -->
                    {% include preview-types/preview-watch.html %}
                {% else %}
                    {% if post.isbn %} <!-- Book -->
                        {% include preview-types/preview-book.html %}
                    {% else %}
                        {% if post.video %} <!-- Video -->
                            {% include preview-types/preview-video.html %}
                        {% else %}
                            {% if post.photo %} <!-- Photo -->
                                {% include preview-types/preview-photo.html %}
                            {% else %}
                                {% if post.title %} <!-- Article -->
                                    {% include preview-types/preview-article.html %}
                                {% else %} <!-- Note -->
                                    {% include preview-types/preview-note.html %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}