<li class="type-book">
    <a href="{{ post.url | prepend: site.baseurl }}" target="self" class="book"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN={{post.isbn}}&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL400_&tag=eddiehinkle-20"></a>
    <span class="post-meta">
        <a class="u-url u-uid" href="{{ post.url | prepend: site.baseurl }}"><span class="date-container">{{ post.date | date: "%b %-d, %Y" }}</span></a>
        <span class="reading-time-container">{{ post.duration}} min read</span>
        <span class="tag-container">
        {% for tag in post.tags %}
            <span class="post-tag">{{ tag }}</span>
        {% endfor %}
        </span>
    </span>
    <h2 class="post-title">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <div class="post-excerpt">{{ post.excerpt }}</div>
</li>