<li class="type-rsvp">
    <div class="post-meta">
        <a class="u-url u-uid" href="{{ post.url | prepend: site.baseurl }}"><span class="date-container">{{ post.date | date: "%b %-d, %Y" }}</span></a>
        <span class="tag-container">
        {% for tag in post.tags %}
            <span class="post-tag">{{ tag }}</span>
        {% endfor %}
        </span>
    </div>
    <div class="rsvp-response basic-card">
        <div class="rsvp-date">
            <div class="year">{{post.rsvp.date.year}}</div>
            <div class="weekday">{{post.rsvp.date.weekday}},</div>
            <div class="monthday">{{post.rsvp.date.month}} {{post.rsvp.date.day}}</div>
            <div class="starttime">{{post.rsvp.date.starttime}}</div>
        </div>
        <div class="rsvp-content">
            <a class="p-author h-card" href="http://eddiehinkle.com"><img alt="Eddie Hinkle" src="http://eddiehinkle.com/images/profile.jpg"/> Eddie</a> is <data class="p-rsvp" value="{{post.p-rsvp}}">{% if post.p-rsvp == 'yes' %}going to attend{% endif %}{% if post.p-rsvp == 'no' %}not able to attend{% endif %}{% if post.p-rsvp == 'maybe' %}not sure if he can attend{% endif %}{% if post.p-rsvp == 'interested' %}interested in attending{% endif %}</data> <a href="{{post.u-in-reply-to}}" class="u-in-reply-to" target="_blank">{{post.event-title}}</a>
        </div>
    </div>
</li>