<li class="type-post h-entry">
    <span class="post-meta">
        <a class="u-url u-uid" href="{{ post.url | prepend: site.baseurl }}"><time class="date-container dt-published" datetime="{{ post.date }}">{{ post.date | date: "%b %-d, %Y" }}</time></a>
        <span class="reading-time-container">{{ post.duration}} min read</span>
        <span class="tag-container">
        {% for tag in post.tags %}
            <span class="post-tag p-category">{{ tag }}</span>
        {% endfor %}
        </span>
        <a rel="author" class="p-author h-card" href="http://eddiehinkle.com" style="display: none;">Eddie Hinkle</a>
    </span>
    <h2 class="post-title">
        <a class="post-link p-name" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <div class="post-excerpt p-summary">{{ post.excerpt }}</div>
</li>