body {
    font: 1em -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;
    line-height: 1.5rem;
    margin: 0;
}

a:not(.no-underline) {
    color: black;
    text-decoration: none;
    border-bottom: #24b1f3 3px solid;
    padding: 2px;
}

a:not(.no-underline):hover {
    background-color: #24b1f3;
    color: white;
}

a.no-underline {
    text-decoration: none;
}

.site-monogram {
    position: absolute;
    left: 20px;
    top: 20px;
    font-weight: 100;
    font-size: 2em;
    transition: font-weight 0.5s ease-in-out;
}

.site-monogram .resume-title {
    padding-left: 10px;
    color: #888;
}

.site-monogram .initials {
    background-color: transparent;
    color: #555;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #555;
}

.site-monogram a:hover {
    color: #24b1f3;
    background-color: transparent;
    border-color: #24b1f3;
}

.intro {
    padding-left: 20px;
    padding-top: 150px;
    font-size: 3rem;
    line-height: 4rem;
}

.intro div {
    width: fit-content;
}

/*.intro .name {*/
    /*margin-top: 50px;*/
/*}*/

/*.bio {*/
    /*margin-top: 20px;*/
    /*display: inline-block;*/
/*}*/

.intro div:last-of-type strong {
    color: #24b1f3;
}

.interest {
    padding-left: 20px;
    padding-top: 150px;
    padding-bottom: 50px;
    font-size: 1.8rem;
    line-height: 3rem;
}

.footer {
    text-align: center;
    color: #555;
    padding: 50px 0;
    margin-top: 50px;
    background-color: #eee;
}

.timeline {
    padding-top: 50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.timeline ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.timeline-item {
    /*width: 400px;*/
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
    /*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
    padding: 16px;
    margin: 20px;
    border-radius: 2px;
}

.timeline-item .header {
    font-weight: bold;
    display: flex;
}

.timeline-item span {
    padding-right: 10px;
    flex: 1;
}

.timeline-item .type {
    color: #888;
    text-align: left;
    font-weight: 600;
}

.timeline-item .date {
    text-align: right;
    color: #888;
    font-weight: 600;
}

.timeline-item .title {
    color: #24b1f3;
    margin-bottom: 12px;
    display: block;
    font-weight: 800;
    margin-top: 6px;
}

.timeline-item a.company {
    padding: 0;
    border-bottom: #24b1f3 3px solid;
    display: inline-block;
}

.timeline-item .company, .timeline-item .company h2 {
    margin: 0;
    margin-top: 12px;
}

.section-title {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    color: #AAA;
}

.client-section {
    margin-top: 150px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.client-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.client-logos .client-logo {
    height: 75px;
    margin: 20px;
}

.client-logos a .client-logo {
    opacity: 0.5;
}

.client-logos a:hover .client-logo {
    opacity: 1;
}

.external-icons {
    display: flex;
    padding-bottom: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.external-icons a {
    flex: 1;
    text-decoration: none;
    color: #24b1f3;
}

/* Side Tabs */
/*.side-tabs ul {*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*transform: rotate(90deg);*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
/*}*/

/*.side-tabs ul li {*/
    /*display: inline-block;*/
    /*padding: 0px 20px;*/
/*}*/

.portfolio-section {
    margin-top: 100px;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-container .portfolio-item {
    max-height: 200px;
}

/* Blinking Cursor */
.blinking-cursor {
    padding-right: 2px;
    border-right: #24b1f3 2px solid;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #24b1f3;
    }
}

@-moz-keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #24b1f3;
    }
}

@-webkit-keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #24b1f3;
    }
}

@-ms-keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #24b1f3;
    }
}

@-o-keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #24b1f3;
    }
}

/* Responsive */
/*@media (max-width: 1200px) {*/
    /*.top-section {*/
        /*flex-direction: column;*/
    /*}*/

    /*.client-section {*/
        /*max-width: 1000px;*/
        /*margin-left: auto;*/
        /*margin-right: auto;*/
        /*margin-top: 150px;*/
    /*}*/
/*}*/

@media (min-width: 1200px) {
    .interest {
        font-size: 3rem;
        line-height: 4rem;
    }
}