body {
    font: 1em -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;
    line-height: 1.5rem;
    margin: 0;
}

a:not(.no-underline) {
    color: black;
    text-decoration: none;
    position: relative;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 3px, #333333 3px, #333333 4px, rgba(0, 0, 0, 0) 4px);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    a:not(.no-underline) {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, #333333 2px, #333333 2.5px, rgba(0, 0, 0, 0) 2.5px);
    }
}
a:not(.no-underline):hover, a:not(.no-underline):focus {
    color: #2a7ae2;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, #2a7ae2 2px, #2a7ae2 3px, rgba(0, 0, 0, 0) 3px);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    a:not(.no-underline):hover, a:not(.no-underline):focus {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, #2a7ae2 2px, #2a7ae2 2.5px, rgba(0, 0, 0, 0) 2.5px);
    }
}

.site-monogram {
    position: absolute;
    left: 20px;
    top: 20px;
    font-weight: 100;
    font-size: 2em;
    transition: font-weight 0.5s ease-in-out;
}

.site-monogram .resume-title {
    padding-left: 10px;
    color: #888;
}

.site-monogram a {
    background-color: transparent;
    color: #555;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #555;
}

.site-monogram a:hover {
    color: #24b1f3;
    background-color: transparent;
    border-color: #24b1f3;
}

.intro {
    padding-left: 20px;
    padding-top: 150px;
    font-size: 3rem;
    line-height: 4rem;
}

.intro div {
    width: fit-content;
}

/*.intro .name {*/
    /*margin-top: 50px;*/
/*}*/

/*.bio {*/
    /*margin-top: 20px;*/
    /*display: inline-block;*/
/*}*/

.intro div:last-of-type strong {
    color: #24b1f3;
}

.interest {
    padding-left: 20px;
    padding-top: 150px;
    font-size: 3rem;
    line-height: 4rem;
}

.footer {
    text-align: center;
    color: #555;
    padding: 50px 0;
    margin-top: 50px;
    background-color: #eee;
}

.timeline {
    padding-top: 50px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.timeline ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.timeline-item {
    width: 400px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 16px;
    margin: 20px;
    border-radius: 2px;
}

.timeline-item .header {
    font-weight: bold;
    display: flex;
}

.timeline-item span {
    padding-right: 10px;
    flex: 1;
}

.timeline-item .type {
    color: #555;
    text-align: left;
}

.timeline-item .date {
    text-align: right;
}

.timeline-item .title {
    color: #24b1f3;
}

.section-title {
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
    color: #888;
}

.client-section {
    margin-top: 150px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.client-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.client-logos .client-logo {
    height: 75px;
    margin: 20px;
}

.client-logos a .client-logo {
    opacity: 0.5;
}

.client-logos a:hover .client-logo {
    opacity: 1;
}

.external-icons {
    display: flex;
    padding-bottom: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.external-icons a {
    flex: 1;
    text-decoration: none;
    color: #24b1f3;
}

/* Side Tabs */
/*.side-tabs ul {*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*transform: rotate(90deg);*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
/*}*/

/*.side-tabs ul li {*/
    /*display: inline-block;*/
    /*padding: 0px 20px;*/
/*}*/

/* Blinking Cursor */
.blinking-cursor {
    padding-right: 2px;
    border-right: #24b1f3 2px solid;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #24b1f3;
    }
}

@-moz-keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #24b1f3;
    }
}

@-webkit-keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #24b1f3;
    }
}

@-ms-keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #24b1f3;
    }
}

@-o-keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #24b1f3;
    }
}