html
    head
        title Log In to EddieHinkle.com
        style
            include global.css
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        h1 New Password
        form(action="", method="post")
            label Password
            input(type="password", name="password", placeholder="password")
            input(type="submit", value="Save")