/**
 * Site header
 */
.site-header {
    border-top: 5px solid $primary-color;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.social-media-list {
    li {
        display: inline-block;
        padding: 0px 2px;
    }
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    background: #e2e1e0;
}

.post-page, .book-page {
    .page-content {
        background: #f6f6f6;
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    // margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

#mc_embed_signup{
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 100%;

    @media screen and (min-width: 801px) {
        input.email {
            width: 200px !important;
        }
    }
}

.book-list {
    text-align: center;
    margin-bottom: 40px;

    .book {
        // width: 120px;
        height: 200px;
        margin-left: 10px;
        margin-right: 10px;

        @media screen and (max-width: 420px) {
            height: auto;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }
}


.post-meta > span:not(:first-child):before {
    content: "\00a0\2022\00a0";
    color: inherit;
    padding-right: 4px;
}

.tag-container {
    .post-tag:not(:last-child):after {
        content: ",";
        color: inherit;
    }
}

.post-excerpt {
    font-style: italic;
}

.post-title {
    margin-bottom: 10px;
}

.type-book {
    background: #fff;
    padding: 28px;
    padding-left: 215px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position: relative;
    
    .book {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        display: block;

        img {
            height: 100%;
            max-width: 200px;
        }
    }

    @media screen and (max-width: 718px) {
        padding-left: 28px;
        padding-top: 0;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;

        .book {
            position: initial;
            text-align: center;
            margin-bottom: 14px;

            img {
                height: auto;
                margin-left: auto;
                margin-right: auto;
            }
        }

    }
}

.type-post {
    background: #fff;
    padding: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.type-micro-post {
    display: inline-block;
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;

    @media screen and (max-width: 718px) {
        width: 45%;
    }

    @media screen and (max-width: 474px) {
        display: block;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    img {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
}

.type-video {

    iframe {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

        @media screen and (max-width: 600px) {  
            height: 300px;
        }

        @media screen and (max-width: 474px) {
            height: 250px;
        }

        @media screen and (max-width: 375px) {
            height: 200px;
        }
    }
}

iframe {
    display: block;
}

blockquote {
    color: $primary-color;
    border-left: none;
    padding-left: 0;
    font-size: 20px;
    letter-spacing: -1px;
    font-style: italic;
    margin-left: -40px;
    margin-right: -40px;
    text-align: justify;
    font-weight: bold;

    p:first-of-type {
        text-align: inherit !important;
    }

    p:last-of-type {
        text-align: right;
    }

    a {
        color: darken($primary-color, 10%) !important;
    }
}

.basic-card {
    blockquote {
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.book-post-link {
    margin-top: 40px;
}

a, a:visited {
    color: $primary-color;

    &:active, &:hover {
        color: darken($primary-color, 15%);
    }
}

.syndication-image {
    height: 50px;
}

.post-list {
    margin-top: 30px;
}

.h-card {
    &.p-author {
        display: inline-block;

        img {
            width: 25px;
            height: 25px;
            display: inline-block;
            margin-right: 1px;
            vertical-align: text-bottom;
        }
    }
}

.rsvp-response {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    .rsvp-date {
        display: inline-block;
        width: 25%;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 30px;
        background-color: $primary-color;
        color: #fff;

        .weekday, .monthday {
            font-weight: 800;
            font-size: 25px;
            line-height: 28px;
        }

        @media screen and (max-width: 474px) {
            display: block;
            width: auto;
        }
    }
    .rsvp-content {
        display: inline-block;
        width: 60%;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;

        @media screen and (max-width: 474px) {
            display: block;
            width: auto;
        }
    }
}

.type-rsvp {
    .post-meta {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

.social-pages > span:not(:first-child):before {
    content: "\00a0\2022\00a0";
    color: inherit;
    padding-right: 4px;
}

.basic-card {
    margin-bottom: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #fff;
}

.type-watch {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    .basic-card {

        .show-image {
            display: inline-block;
            width: 25%;
            vertical-align: top;

            @media screen and (max-width: 474px) {
                display: block;
                width: auto;
            }
        }

        .watch-content {
            display: inline-block;
            width: 74%;

            @media screen and (max-width: 474px) {
                display: block;
                width: auto;
            }
        }

        .watch-info {
            font-size: 18px;
            // background-color: $primary-color;
            // color: #fff;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
        }

        &.words-0 {
            .show-image {
                vertical-align: middle;
            }

            .watch-info {
                font-size: 26px;
            }
        }

        .watch-status {
            font-size: 20px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

.type-reply {
    .post-meta {
        padding: 10px 20px;
    }
    .post-header {
        margin-bottom: 0px;
    }
}

.reply-context {
    background-color: $primary-color;
    color: #fff;
    padding: 20px;

    .post-title {
        line-height: 1.2;

        a {
            color: #fff;
        }
    }

    blockquote {
        color: #fff;
    }

    a:not(.p-name) {
        color: darken($primary-color, 20%);
        -webkit-transition: color .5s;
        transition: color .5s;

        &:hover, &:active {
            color: lighten($primary-color, 20%);
            text-decoration: none;
        }
    }

    a.p-name {
        color: #fff;
        -webkit-transition: color .5s;
        transition: color .5s;

        &:hover, &:active {
            color: lighten($primary-color, 20%);
            text-decoration: none;
        }
    }

    .fa-external-link {
        position: relative;
        top: 2px
    }

    blockquote {
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 20px;
        margin-bottom: 20px;

        @media screen and (max-width: 474px) {
            margin: 0px;
            margin-bottom: 10px;
        }
    }

    blockquote {
        font-size: 20px;
        quotes: "\201C""\201D""\2018""\2019";
        padding: 10px 20px;
        line-height: 1.4;

        &:before {
            content: open-quote;
            display: inline;
            height: 0;
            line-height: 0;
            left: -10px;
            position: relative;
            top: 20px;
            font-size: 3em;
        }
        
        &:after {
            content: close-quote;
            display: inline;
            height: 0;
            line-height: 0;
            left: 10px;
            position: relative;
            top: 25px;
            font-size: 3em;
        }
    }

    .reply-author {
        img {
            width: 50px;
            margin-right: 10px;
            border-radius: 10px;
            height: auto;
            vertical-align: middle;
        }
    }
}

.reply-content {
    padding: 20px;
}

.flashback-post {
    background-color: $primary-color;
    padding: 20px;

    h1, h2 {
        color: #fff;
        margin-bottom: 0;
    }

    a, .post-meta {
        color: #fff;
    }

    > li {
        display: block;
    }

    .type-video iframe {
        box-shadow: none;
    }
}

.type-like {

    &.basic-card {
        .post-meta {
            background-color: $primary-color;
            color: darken(#fff, 10%);
            padding: 10px 20px;

            a {
                color: #fff;

                &:hover, &:active {
                    color: lighten($primary-color, 20%);
                    text-decoration: none;
                }
            }
        }
    }

    .post-header {
        margin-bottom: 10px;
    }

    .like-statement {
        background-color: $primary-color;
        padding: 10px 20px;
        color: darken(#fff, 10%);

        a {
            color: #fff;

            &:hover, &:active {
                color: lighten($primary-color, 20%);
                text-decoration: none;
            }
        }   
    }

    .like-context {
        background-color: #fff;
        padding: 20px;

        .post-title {
            line-height: 1.2;
        }

        a:not(.p-name) {
            color: darken($primary-color, 20%);
            -webkit-transition: color .5s;
            transition: color .5s;

            &:hover, &:active {
                color: lighten($primary-color, 20%);
                text-decoration: none;
            }
        }

        .fa-external-link {
            position: relative;
            top: 2px
        }

        blockquote {
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 10px;
            margin-bottom: 10px;

            @media screen and (max-width: 474px) {
                margin: 0px;
                margin-bottom: 10px;
            }
        }

        blockquote {
            font-size: 20px;
            quotes: "\201C""\201D""\2018""\2019";
            padding: 10px 20px;
            line-height: 1.4;

            &:before {
                content: open-quote;
                display: inline;
                height: 0;
                line-height: 0;
                left: -10px;
                position: relative;
                top: 20px;
                font-size: 3em;
            }
            
            &:after {
                content: close-quote;
                display: inline;
                height: 0;
                line-height: 0;
                left: 10px;
                position: relative;
                top: 25px;
                font-size: 3em;
            }
        }

        .post-title {
            display: inline-block;
            width: 80%;
            margin-left: 20px;
            vertical-align: top;
        }

        .like-author {
            display: inline-block;

            .p-author {
                display: block;
                text-align: center;
            }

            img {
                width: 80px;
                border-radius: 10px;
                height: auto;
                vertical-align: middle;
                text-align: center;
            }
        }
    }
}

.responses {
    .responses-summary {
        .likes-count, .replies-count, .mentions-count, .reaction-count {
            display: inline-block;
            background-color: lighten($primary-color, 20%);
            padding: 10px;
            margin-left: 10px;
            margin-right: 10px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.facepile-container {
    display: inline-block;

    .face-in-pile {
        width: 80px;
        border-radius: 50%;
    }
    .single-face {
        position: relative;
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;

        .reaction-overlay {
            position: absolute;
            left: 0;
            bottom: -10px;
        }
    }
}

.reply {
    padding-top: 10px;
    padding-bottom: 10px; 

    .reply-author-photo, .reply-author-info, .reply-content {
        display: inline-block;
    }
    
    .reply-author-info {
        width: 150px;
        vertical-align: middle;
    }
    
    .reply-content {
        width: 520px;
        vertical-align: top;
        padding: 0;
    }

    .reply-author-photo {
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }
}

.replies-container {
    padding-top: 10px;
}