<div class="polaroid">
  <img [src]="photo">
  <div class="content">
    <p>You can find me across the internet</p>
    <a href="https://twitter.com/EddieHinkle" title="Twitter" rel="me"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
    <a href="https://instagram.com/EddieHinkle" title="Instagram" rel="me"><i class="fa fa-lg fa-instagram" aria-hidden="true"></i></a>
    <a href="https://github.com/EdwardHinkle" title="GitHub" rel="me"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
    <a href="https://facebook.com/EdwardTHinkle" title="Facebook" rel="me"><i class="fa fa-facebook-f fa-lg" aria-hidden="true"></i></a>
    <a href="https://apple.news/TlUsl76dFRNCfv54V0xuVJQ" title="Apple News" rel="me"><i class="fa fa-newspaper-o fa-lg" aria-hidden="true"></i></a>
    <a class="u-email" href="mailto:eddie@eddiehinkle.com" title="Email me" rel="me"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a>
  </div>
</div>