<div class="polaroid">
  <img [src]="photo">
  <div class="content">
    <p>You can find me across the internet</p>
    <a href="https://twitter.com/EddieHinkle" rel="me"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
    <a href="https://instagram.com/EddieHinkle" rel="me"><i class="fa fa-lg fa-instagram" aria-hidden="true"></i></a>
    <a href="https://github.com/EdwardHinkle" rel="me"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
    <a href="https://facebook.com/EdwardTHinkle" rel="me"><i class="fa fa-facebook-f fa-lg" aria-hidden="true"></i></a>
    <a class="u-email" href="mailto:eddie@eddiehinkle.com" rel="me"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a>
  </div>
</div>