<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <article class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
          </header>

          <div class="post-content">
            {{ content }}
          </div>

        </article>
        <!-- This is where the book info goes -->
        {% assign book-list-title = "The Books I'm Currently Reading" %}
        {% assign book-list-books = site.data.currently_reading %}
        {% include book-list/book-list.html %}
        {% assign book-list-title = "The Books I Just Read" %}
        {% assign book-list-books = site.data.recently_read %}
        {% include book-list/book-list.html %}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
