---
layout: default
---
<article class="post h-entry">

  <header class="post-header">
    <h1 class="post-title p-name">{{ page.title }}</h1>
  </header>

  <div class="post-content e-content">
    {{ content }}
  </div>

  <footer class="">
    {% capture syndicationSize %}{{page.syndication | size}}{% endcapture %}
    {% assign syndicationCount = syndicationSize | plus: 0 %}
    {% if syndicationCount > 0 %}
    Syndicated: 
      {% if page.syndication %}
        {% for syndicated in page.syndication %}
          {% include syndication.html %}
        {% endfor %}
      {% endif %}
    {% endif %}
  </footer>

</article>

{% assign likes = site.data.webmentions[page.url].likes %}
{% assign replies = site.data.webmentions[page.url].replies %}
{% assign reactions = site.data.webmentions[page.url].reactions %}
{% assign mentions = site.data.webmentions[page.url].mentions %}
{% include responses/responses.html %}