---
layout: default
---
<div class="home">
  {% include social-page-links.html %}

  <ul class="post-list">
    {% assign shows = site.documents | where_exp:"item","item.show_name != undefined" %}
    {% assign movies = site.documents | where_exp:"item","item.movie_name != undefined" %}
    {% assign web = site.documents | where_exp:"item","item.properties.watch-of != undefined" %}
    
    {% assign posts = shows | concat: movies | concat: web | sort: 'date' | reverse %}
    {% for post in posts %}
      {% include preview-types/preview.html %}
    {% endfor %}
  </ul>

</div>