.section-title {
    text-align: center;
    margin-bottom: 40px;
}

.sponsor-buttons {
    display: flex;
    width: 50%;
    margin: 50px auto;
}

.sponsor-button {
    background-color: rgba(83, 176, 237, 0.7);
    color: #fff;
    border-radius: 2px;
    padding: 10px;
    margin: 0 10px;
    flex: 1;
    text-align: center;
}

.sponsor-button.disabled {
    background-color: #666;
    color: #fff;
    border-radius: 2px;
    padding: 10px;
    margin: 0 10px;
    flex: 1;
    text-align: center;
}

.sponsor-button:not(.disabled):hover {
    background-color: rgba(83, 176, 237, 0.3);
}

.sponsor-container {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.sponsor-description:not(:last-of-type) {
    margin: 0 auto 30px auto;
    line-height: 1.75em;
}

.sponsor-description h2 {
    margin-top: 0;
}

.profile-photo {
    height: 150px;
    margin: 0 20px;
}

@media (max-width: 900px) {
    .sponsor-container {
        flex-direction: column;
    }

    .sponsor-buttons, .sponsor-container {
        width: 90%;
    }

    .profile-photo {
        width: 150px;
        margin: 0 auto 30px auto;
    }
}