h2 {
    line-height: 2.5rem;
}

.header-map {
    width: 100%;
}

.header-map img {
    width: 100%;
}

.light-theme-map, .dark-theme-map {
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dark-theme-map {
    display: none;
}

.right-status-bar {
    position: absolute;
    top: 300px;
    right: 10px;
    text-align: right;
    padding: 5px;
}

.right-status-bar > * {
    padding: 0 5px;
}

.left-status-bar {
    position: absolute;
    top: 300px;
    left: 10px;
    paddinfg: 5px;
}

@media (prefers-color-scheme: dark) {
    .light-theme-map {
        display: none;
    }

    .dark-theme-map {
        display: block;
    }

    .profile-photo {
        border-color: #50a882;
    }
}

.profile-photo {
    position: absolute;
    top: 225px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border: solid 5px #000;
    box-shadow: 5px 5px red;
}

.carousel {
    margin: 10px;
}

.carousel-bar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.carousel-bar h2 {
    flex-grow: 1;
    font-weight: 800;
}

.carousel-bar h4 {
    margin-right: 20px;
}

.carousel-body {
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
}

.carousel-item {
    width: 18%;
    box-sizing: border-box;
    height: auto;
    border: 10px solid black;
    margin: 25px 3%;
    box-shadow: 10px 6px rgba(255, 0, 0, 0.2);
}

.more-button, .link-button {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #24b1f3;
    border: #24b1f3 1px solid;
    border-radius: 2px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.more-button {
    position: absolute;
    bottom: -30px;
}

.bio {
    display: block;
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.bio h2 {
    font-weight: 200;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
}

.ate, .drank, .checkin, .photos, .listen, .watch, .podcast {
    flex: 1 1 160px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.listen .media-grid, .photos .media-grid {
    max-width: 200px;
    margin-left: 10%;
}

.watched-contents {
    margin-left: 20%;
}

.checkin-contents {
    margin-left: 10%;
}

.articles, .notes, .social {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.articles, .notes {
    margin-top: 100px;
}

.social {
    margin-top: 50px;
}

.social a {
    display: inline-block;
    font-size: 30px;
    padding: 10px 5px;
    text-decoration: none;
}

.article, .note {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
}

.note .note-date {
    font-size: 12px;
    color: #aaa;
    margin-left: 10px;
    display: inline-block;
    text-decoration: none;
}

.podcast img {
    width: 200px;
    border-radius: 2px;
    margin-bottom: -8px;
}

.podcast audio {
    width: 200px;
}

.checkin img {
    display: block;
}

.watch img {
    margin-left: auto;
    margin-right: auto;
}

.webring {
    display: block;
    margin: 20px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.webring a {
    text-decoration: none;
}

.watched-contents {
    position: relative;
}

.watched-contents .personTags {
    position: absolute;
    bottom: 0;
    left: 0;
}

.watched-contents .personTag {
    width: 25px;
    border-radius: 2px;
}

@media (max-width: 500px) {
    .carousel-body {
        padding-left: 4%;
        -webkit-overflow-scrolling: touch;
    }
    
    .carousel-body a:last-child .carousel-item {
        margin-right: 20%;
    }
    
    .carousel-bar h2 {
        font-size: 1.2em;
        padding: 0;
        line-height: 2em;
        margin-left: 10px;
    }
    
    .carousel-bar h4 {
        font-size: 0.8em;
        padding: 0;
        text-align: right;
        margin-right: 10px;
    }
    
    .carousel-item {
        width: 70%;
        margin: 10px 0 30px 10%;
    }
}

@media (max-width: 900px) {
    .stats {
        display: block;
    }

    .stats > div {
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    h1, h2, h3, h4, h5, h6, p, .note {
        padding-left: 20px;
        padding-right: 20px;
    }

    .note {
        line-height: 2rem;
    }
    
    .light-theme-map, .dark-theme-map {
        height: 150px;
    }
    
    .profile-photo {
        top: 100px;
    }
    
    .left-status-bar {
        display: none;
    }
    
    .right-status-bar {
        top: 150px;
        left: 0;
        right: 0;
    }
    
    .current-time {
        position: absolute;
        left: 0;
        right: auto;
    }
    
    .battery {
        position: absolute;
        right: 0;
        left: auto;
    }
    
    .bio {
        margin-top: 130px;
        margin-bottom: 50px;
    }
    

    /*.stats > div {*/
        /*display: block;*/
    /*}*/
}