h2 {
    line-height: 2.5rem;
}

.more-button, .link-button {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #24b1f3;
    border: #24b1f3 1px solid;
    border-radius: 2px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.more-button {
    position: absolute;
    bottom: -30px;
}

.bio {
    display: block;
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.bio h2 {
    font-weight: 200;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
}

.ate, .drank, .checkin, .photos, .listen, .watch, .podcast {
    flex: 1 1 160px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.articles, .notes, .social {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.articles, .notes {
    margin-top: 100px;
}

.social {
    margin-top: 50px;
}

.social a {
    display: inline-block;
    font-size: 30px;
    padding: 10px 5px;
    text-decoration: none;
}

.article, .note {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
}

.note .note-date {
    font-size: 12px;
    color: #aaa;
    margin-left: 10px;
    display: inline-block;
    text-decoration: none;
}

.podcast img {
    width: 200px;
    border-radius: 2px;
    margin-bottom: -8px;
}

.podcast audio {
    width: 200px;
}

.checkin img {
    display: block;
}

.watch img {
    margin-left: auto;
    margin-right: auto;
}

.webring {
    display: block;
    margin: 20px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.webring a {
    text-decoration: none;
}

@media (max-width: 900px) {
    .stats {
        display: block;
    }

    .stats > div {
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    h1, h2, h3, h4, h5, h6, p, .note {
        padding-left: 20px;
        padding-right: 20px;
    }

    .note {
        line-height: 2rem;
    }

    /*.stats > div {*/
        /*display: block;*/
    /*}*/
}