body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;
}

.channel-title {
    margin: 50px 0;
    text-align: center;
}

.audience-display {
    background-color: #19355c;
    border-radius: 2px;
}

.audience-display a, .audience-display a:hover, .audience-display a:visited {
    color: white;
}

.audience-display .fa {
    margin: 0 10px;
}

.no-posts {
    margin: 50px 0;
    text-align: center;
}

.archive-list {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.archive-row-header {
    display: flex;
    flex-direction: row;
    font-size: 1.7em;
    margin-top: 25px;
    margin-bottom: 10px;
}

.archive-row-header .year-label {
    flex: 1;
    text-align: left;
}

.archive-row-header .month-label {
    flex: 1;
    text-align: right;
}

.archive-row {
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    line-height: 2em;
    font-style: italic;
}

.archive-row .archive-item {
    text-align: left;
}

.archive-row .archive-item a {
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    padding-bottom: 4px;
}

.archive-row .day-label {
    text-align: right;
}

.archive-row .archive-row-spacer {
    margin-top: 0;
    margin-bottom: 3px;
    margin-right: -2.5rem;
    margin-left: 0rem;
    border: none;
    border-bottom: 1px dotted currentColor;
    flex: 1 0 1rem;
    opacity: 0.2;
}

.archive-row:hover .archive-row-spacer {
    border-bottom-color: #24b1f3;
    opacity: 1;
}

.post-list {
}

.post-item {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.post-item .map-image {
    margin-bottom: 0;
}

.e-content {
    font-size: 20px;
    line-height: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.e-content a {
    /*text-decoration: none;*/
    /*color: black;*/
    /*background-color: rgba(83, 176, 237, 0.3);*/
    /*padding: 2.5px 5px;*/
}

.e-content img {
    width: 100%;
}

.e-content blockquote {
    /*background-color: rgba(83, 176, 237, 0.1);*/
    border-left-color: rgba(83, 176, 237, 0.3);
    border-left-style: solid;
    border-left-width: 2px;
    margin-left: 0;
    margin-right: 30px;
    padding-left: 20px;
    padding-right: 30px;
    color: rgba(83, 176, 237, 0.8);
    font-style: italic;
    line-height: 2rem;
    margin-top: 40px;
    margin-bottom: 40px;
}

h1.page-title, .itinerary-description, .audience-display {
    line-height: 2.5rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.published-date {
    color: rgba(0,0,0,0.3);
    margin-right: 20px;
}

.updated-date {
    color: rgba(0,0,0,0.3);
    margin-right: 20px;
}

.map-image {
    width: 100%;
    margin-bottom: 50px;
}

.watch-image-container, .listen-image-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.photos-container.photos-1 img {
    width: 100%;
}

.photos-container.photos-2 img {
    width: 50%;
}

.photos-container.photos-3 img {
    width: 33.33%;
}

.weather-info .temperature {
    margin-right: 10px;
}

.weather-info .weather-icon {
    margin-right: 20px;
}

.client-display {
    margin-left: 20px;
}

/* This is for inline code blocks */
:not(pre) > code {
    background-color: #F0F0F0;
    color: #000;
    padding: 6px;
    font-size: 15px;
}

/* This is for official code snippets and multi-line code blocks */
code > ol {
    background-color: #F0F0F0;
    padding: 20px 50px;
    overflow-x: auto;
}

code > ol {
    font-size: 15px;
}

code > ol .highlight-line {
    background-color: rgba(230, 200, 89, 0.3);
}

code > ol {
    list-style: none;
}

code > ol.code-line-numbers {
    list-style: decimal;
}

code[class*="language-"], pre[class*="language-"] {
    color: #333 !important;
}

@media (prefers-color-scheme: dark) {
    .published-date {
        color: rgba(255,255,255,0.3);
    }

    :not(pre) > code {
        background-color: #212121;
        color: #fff;
    }

    /* This is for official code snippets and multi-line code blocks */
    code > ol {
        background-color: #212121;
    }

    code > ol .highlight-line {
        background-color: rgba(31, 53, 89, 0.6);
    }

    code[class*="language-"], pre[class*="language-"] {
        color: #CCC !important;
    }
}