/* You can add global styles to this file, and also import other style files */

$base-line-height: 1.5;
$spacing-unit:     30px;


body {
    margin: 0;
}

abode-root {
    //padding-top: 50px;
    display: block;
}